.App {
  text-align: center;
  background-color: #282c34;
  height: 150vh;
  /* width: 100vw; */
}

.App-logo {
  height: 40vh;
  width: 40vw;
  pointer-events: none;
}

.App-header {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fotopalingatas{
  width: 50%;
  display: flex;
  flex-direction: column;
  
}

.tulisandisampingfoto{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 55vh;
  width: calc(100vw - 60%);
  text-align: center;
  gap: 100px;

}


.tulisandibawahgaris li{
  margin-bottom: 25px;

}

.tulisandibawahgaris{
  text-align: center;
  justify-content: flex-end;
}

.tulisandibawahfoto{
  text-align: left;
}
.tulisandibawahfoto li{
  margin-bottom: 20px;
}

.circle{
  height: 40vh;
  width: 40vw;
  border-radius: 50%;
}

.square{
  height: 40vh;
  width: 40vw;
  border-radius: 0;
}

.deskripsi {
  color: white;
  text-align: left;
  font-weight: 600;
  font-size: larger;
  margin: 20px;
}

.accordion {
  border: 1px solid #ddd;
  margin: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.open {
  max-height: 200px; 
}

.accordion-header {
  background-color: #26a6dc;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.accordion-content {
  padding: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
